<div class="container text-center" *ngIf="loading">
  <span class="spinner-border text-white"></span>
</div>
<div class="container" *ngIf="!loading">
  <h1 class="row page-title">
    {{(!job.jobId && 'Create a ' || 'Edit ') + 'Job'}}
  </h1>

  <form class="profile-details" ngNativeValidate (submit)="updateData()">
    <div class="no-flex" *ngIf="job.jobId">
      <div class="col">
        <label for="id">Job Id: </label>
        <p id="id">{{job.jobId}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="jobTitle">Job Title: </label>
        <input class="flex-grow-1" id="jobTitle" name="jobTitle" [(ngModel)]="job.jobTitle"/>
      </div>
      <div class="col">
        <label for="contactName">Contact Name: </label>
        <input class="flex-grow-1" id="contactName" name="contactName" [(ngModel)]="job.contactName"/>
      </div>
      <div class="col">
        <label for="contactNumber">Contact Number: </label>
        <input class="flex-grow-1" type="tel" id="contactNumber" name="contactNumber" [(ngModel)]="job.contactNumber"/>
      </div>
      <div class="col">
        <label for="contactEmail">Contact Email: </label>
        <input class="flex-grow-1" type="email" id="contactEmail" name="contactEmail" [(ngModel)]="job.contactEmail"/>
      </div>
      <div class="inline w-100">
        <div>
          <label for="startDate">Start Date: </label>
          <input name="startDate" id="startDate" [matDatepicker]="myDatepicker" [(ngModel)]="job.startDate">
          <mat-datepicker-toggle style="color:white" [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </div>
        <div>
          <label for="payRate">Pay Rate:</label>
          <input type="number" min="1" class="flex-grow-1" id="payRate" name="payRate" [(ngModel)]="job.payRate"/>
        </div>
      </div>
      <div class="col">
        <label for="description">Job Description: </label>
        <input class="flex-grow-1" id="description" name="description" [(ngModel)]="job.description"/>
      </div>
      <div class="col">
        <label>Location: </label>
        <app-google-places
          [init]="job?.workLocation?.address"
          (setAddress)="getAddress($event)">
        </app-google-places>
      </div>
      <div class="col spec">
        <div style="display: flex;">
          <label for="role">Role: </label>
          <p id="role">
            {{job?.role?.roleName}}
          </p>
        </div>
        <button type="button" class="btn btn-warning" (click)="chooseRole.show()">Choose Role</button>
      </div>
      <div style="display:grid; grid-template-columns: auto auto auto; grid-column-gap: 30px; align-self: center">
        <div class="centerVertical">
          <label for="bonus">Bonus: </label>
          <input name="bonus" id="bonus" type="checkbox" [(ngModel)]="job.bonus" class="largerCheckbox"/>
        </div>
        <div class="centerVertical">
          <label for="accomodation">Accomodation: </label>
          <input name="accomodation" id="accomodation" type="checkbox" [(ngModel)]="job.accomodation"/>
        </div>
        <div class="centerVertical">
          <label for="active">Active: </label>
          <input name="active" id="active" type="checkbox" [(ngModel)]="job.active"/>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success">Update Information</button>
    </div>
  </form>
</div>

<app-choose-role (newRole)="getRole($event)" #chooseRole></app-choose-role>
