<div bsModal
     #loginModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     [config]="{backdrop: 'static', keyboard: true}"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title centeredTitle">Enter email and password to login the system</h2>
        <button type="button" class="close" (click)="loginModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form (ngSubmit)="login()" ngNativeValidate>
          <div class="form-group">
            <input (c [(ngModel)]="email" type="email" class="form-control" name="email" placeholder="Email" [value]="'Harold52@hotmail.com'"
                   required="required">
          </div>
          <div class="form-group">
            <input [(ngModel)]="password" type="password" minlength="6" class="form-control" name="password"
                   placeholder="Password"
                   required="required">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block height-48">
              <span *ngIf="loading" class="spinner-border"></span>
              <span *ngIf="!loading">Log me in</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
