#accordion {
  padding: unset;
  margin: unset;
}

.leftMargined {
  margin-left: 10px;
}

.btn-link{
  color: #1c3655;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
}