#jobInfo {
  padding: 10px;
  background: #fff;
}

.header {
  display: block;
  text-align: center;
  background: #dddddd;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 15px;
  text-transform: uppercase;
}

#connections {
  background-color: #fff;
}

.candidate {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
}

