p {
  display: inline;
  padding-left: 10px;
}

label {
  margin: unset;
  align-self: center;
  font-weight: bold;
}

input {
  margin-left: 20px;
  color: white;
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
  padding: 10px 0;
}
.row{
  display: flex;
  flex-direction: column;
}

.no-flex{
  display: flex;
  flex-direction: row;
}

.col{
  margin: 10px 0;
}

.row > button{
  margin-top: 30px;
}

input:focus {
  outline: none;
}
